*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    padding-top: 35px;
    background-color: chocolate;
}
header div{
    width: 400px;
    height: 80px;
    margin: 0 auto;
}
header img{
    display: inline-block;
}
h1{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 250;
    letter-spacing: 5px;
    color: white;
    position: relative;
    bottom: 20px;
    left: 20px;
}
nav{

}
main{
    width: 1366px;
    margin: 0 auto;
    padding: 50px 0;
}
section{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
.galleta{
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;

    position: relative;
    overflow: hidden;
    transition: .5s;
}
.galleta:first-child{
    border: 3px solid chocolate;
}
.info{
    width: 250px;
    height: 250px;
    padding: 15px;
    padding-top: 10px;
    position: absolute;
    top: 175px;

    background-color: rgba(210, 105, 30, 0.506);
    border-radius: 30px;
    transition: .5s;
}

.info:hover{
    top: 60px;
    background-color: rgba(210, 105, 30, 0.95);
}
.galleta:has(.info:hover){
    scale: 1.15;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);;
}

h3, h4, p{
    margin: 5px;
    color: white;
}
h3{
    height: 54px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
footer{
    height: 150px;
    background-color: chocolate;
}
footer div{
    width: 100px;
    padding-top: 25px;
    margin: 0 auto;
}